<br>
<div class="container mt-4 ">
    <div class="row">
        <div class="col-md-4 ">
            <img id="main-img" src="/product-images/{{product.Images.[0]}}.jpg" alt="" class="shadow" width="100%">
            <div class="d-flex mt-2">
                {{#each product.Images}}
                <img id="{{[]}}" src="/product-images/{{[]}}.jpg" alt="" width="70px" class="ms-2 mt-1  border"
                    onclick="imgClick(this.id)">
                {{/each}}
            </div>
        </div>
        <div class="col-md-6  mt-4">
            <h2>{{product.product}}</h2>
            <h4 class="text-secondary">{{product.brand}}</h4>
            <br>
            {{!-- {{#if ratingData}}
            <h4>{{ratingData.avg}} <i class="fa-regular fa-star text-success"></i> | {{ratingData.count}} Ratings</h4>
            {{else}}
            <h4>No Ratings & reviews</h4>
            {{/if}} --}}

            <hr style="background-color: gray;">
            <form action="/add-to-cart/{{product._id}}" method="post">
                <label for="" class="fs-5">Size</label>
                <select name="Size" id="sizePro" class="mb-2 ms-2"
                    style="font-size: large; text-align: center; height: 60px;width: 60px;border-radius: 40px;">

                    {{#each product.size}}
                    {{#if []}}
                    <option value="{{[]}}">{{[]}}</option>
                    {{/if}}
                    {{/each}}
                </select>
                <h5>₹ {{product.offerPrice}} <span class="text-secondary"
                        style="text-decoration: line-through;">MRP{{product.price}}</span></h5>
                <h4 class="text-success">{{product.discount}}% <span class="text-dark fs-5">flat discount</span></h4>
                <h3 class="text-success">Save {{product.savings}}</h3>
                <h3 class="text-secondary">{{product.category}}</h3>
                <p class="fs-5">{{product.description}}</p>


                {{#if (eq product.stock 0)}}
                <a  onclick="addToWishlist('{{product._id}}')"
                        class="addToCart bg-danger text-light ps-4 pe-4 pt-3 mb-3 mb-md-0 pb-md-3 mb-4"><i
                            class="fa-regular fa-heart"></i>
                        Add To Wishlist</a>
                <h3 class="text-danger pt-4">Product out of stock</h3>
                <small class="text-danger">“We sincerely apologize for this inconvenience. We've experienced an
                    unusually high number of orders and have run out of inventory.”</small>
                {{else}}

                <div class="d-flex">

                    <a onclick="addToWishlist('{{product._id}}')"
                        class="addToCart bg-danger text-light ps-4 pe-4 pt-3 mb-3 mb-md-0 pb-md-3"><i
                            class="fa-regular fa-heart"></i>
                        Add To Wishlist</a>

                    <button type="submit" class="addToCart bg-dark text-light ps-5 pe-5 pt-3 pb-3 ms-2 mb-3 mb-md-0"><i
                            class="fa-solid fa-bag-shopping"></i> Add To Cart</button>
            </form>
        </div>
        {{/if}}
    </div>

    <hr class="mt-4" style="background-color: black;">
    
    {{!-- <div class="row">
        {{#if review}}
        <div class="col-md-6 text-center d-flex justify-content-center " style="border-right: solid; border-color: rgb(198, 204, 202);">
            
            <div class="d-block mt-5">
                {{#if ratingData}}
                <h1 class="mb-3 pb-2">{{ratingData.avg}} <i class="fa-regular fa-star text-success"></i> | {{ratingData.count}} Ratings</h1>
                {{else}}
                <h1>No Ratings & reviews</h1>
                {{/if}}
                 
                 <a href="/add-review/{{product._id}}" 
                        class="addToCart bg-success text-light ps-4 pe-4 pt-3 mb-5   pb-md-3"><i class="fa-regular fa-star fa-beat"></i>
                        Add Review</a>
            </div>

           
            
        </div>
        <div class="col-md-6 mb-3 ">
            {{#if review}}
            {{#each review}}
            <div class="shadow py-1 px-3 mb-2" style="border-radius: 20px;">
                <h5 class=" "><span {{#if (gt review.rating 4)}} class="badge rounded-pill bg-success" {{else}} {{#if (gt review.rating 2)}} class="badge rounded-pill bg-warning" {{else}} class="badge rounded-pill bg-danger" {{/if}}{{/if}}>{{review.rating}}<i class="fa-regular fa-star ms-1"></i></span>{{review.username}}</h5>
                <h5 class="ps-5">{{review.title}}</h5>
                <p class="ps-5">{{review.description}}</p>
            </div>
            {{/each}}
            <a href="/reviews/{{product._id}}">View all reviews</a>
            {{else}}
            <h4 class="text-center pt-5">No Reviews found</h4>
            {{/if}}
        </div>
        {{else}}
        <div class="text-center mb-5 mt-1">
            <h5 class="pb-2">No Reviews found</h5>
            <a href="/add-review/{{product._id}}" 
                        class="addToCart bg-success text-light ps-4 pe-4 pt-3 mb-3 mb-md-0 pb-md-3"><i class="fa-regular fa-star fa-beat"></i>
                        Add Review</a>
        </div>
        {{/if}}
    </div> --}}

</div>








<script>
    function imgClick(id) {

        let img = document.getElementById(id).src
        document.getElementById('main-img').src = img

    }

    function addToWishlist(id) {
        
        let size = document.getElementById('sizePro').value
        
        $.ajax({
            url: `/add-to-wishlist/${id}`,
            method: 'POST',
            data: { size: size },
            success: (response) => {
                if (response.status) {
                    
                    Swal.fire(
                        'Good job!',
                        'Product Added to Wishlist',
                        'success'
                    )
                } else if (response.exist) {
                    Swal.fire('Product already in wishlist')
                }
                else {
                    location.href = '/login'
                }

            }

        })

    }
</script>