{{#if login}}{{else}}
<nav class="navbar navbar-expand-lg site-navbar" style="position: fixed; width: 100%; z-index: 20;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="side-profile ps-3 pt-3 pe-4 d-flex mb-4">
            <img src="/images/avatar.jpg" alt="" style="border-radius: 12px;">
            {{#if user}}
            <p class="ms-3 fs-4 mb-0" style="cursor: pointer;">{{user.username}}</p>
            {{else}}
            <p class="ms-3 mb-0" style="cursor: pointer;"><a href="/login" style="text-decoration: none; color: black;">Login</a></p>
            {{/if}}
        </div>
        <a class="side-nav-opt" href="/profile"><i class="fa-solid fa-user"></i>&nbsp Profile</a>
        <a class="side-nav-opt" href="/Change-password"><i class="fa-solid fa-unlock"></i>&nbsp Change Password</a>
        <a class="side-nav-opt" href="/address-manage"><i class="fa-solid fa-address-book"></i>&nbsp Address Management</a>
        <a class="side-nav-opt" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp Logout</a>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <div class="container-fluid nav-shell">
        <a href="/" class="brand-lockup">
            <img src="/images/icons/logo-dark.png" alt="" width="100px">
            <span class="brand-caption">Curated essentials for everyday style</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars text-dark"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-links me-auto mb-2 mb-lg-0">
                <li class="nav-item ms-md-4">
                    <a class="nav-link active fs-6" aria-current="page" href="/shop">Shop</a>
                </li>
                {{#if user}}
                <li class="nav-item ms-md-2">
                    <a class="nav-link active fs-6" href="/orders">My Orders</a>
                </li>
                {{/if}}
                <li class="nav-item ms-md-2">
                    <a class="nav-link active fs-6" href="/about-us">About us</a>
                </li>
                <li class="nav-item ms-md-2">
                    <a class="nav-link active fs-6" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-flex">
            <form class="d-none d-lg-flex align-items-center nav-actions">
                <div class="nav-search-box nav-search-modern ps-3 pt-3">
                    <input class="nav-search" type="text" placeholder="Search products" id="search-box" onkeyup="sendData(this)">
                </div>
                {{#if user}}
                <a href="/wishlist" class="nav-icon-pill"><i class="fa-regular fa-heart fs-5 text-dark"></i></a>
                {{/if}}
                <div class="nav-user-chip ps-3 pt-3 pe-4 d-flex">
                    <i class="fa fa-user fs-4"></i>
                    {{#if user}}
                    <p class="ms-3" onclick="openNav()" style="cursor: pointer;">{{user.username}}</p>
                    {{else}}
                    <p class="ms-3" style="cursor: pointer;"><a href="/login" style="text-decoration: none; color: black;">Login</a></p>
                    {{/if}}
                </div>
                {{#if user}}
                <div class="nav-icon-pill cart-pill ps-3 pt-3 pe-4 pb-3">
                    <a href="/cart"><i class="fa-solid fa-cart-shopping fs-4 text-dark"></i></a>
                    <span class="badge rounded-pill bg-warning text-dark" style="position: relative; bottom: 50%;">{{cartCount}}</span>
                </div>
                {{/if}}
            </form>
        </div>
    </div>
    <div class="d-lg-none d-flex float-end mobile-head" style="width: 100%;">
        <div class="head-search-box ps-2 pt-1">
            <input class="nav-search" type="text" placeholder="Search" onkeyup="sendData(this)" style="width: 100px;">
        </div>
        {{#if user}}
        <a href="/wishlist"><i class="nav-search-box ps-3 pt-1 pe-4 fa-regular fa-heart fs-4 text-dark"></i></a>
        {{/if}}
        <div class="head-search-box ps-1 pt-1 pe-4 d-flex">
            {{#if user}}
            <p class="ms-3" onclick="openNav()" style="cursor: pointer;">{{user.username}}</p>
            {{else}}
            <div class="d-flex" onclick="window.location.href='/login'">
                <i class="fa-regular fa-user fs-6 pt-1"></i>
                <p class="ms-2">Login</p>
            </div>
            {{/if}}
        </div>
        {{#if user}}
        <div>
            <div class="head-search-box ps-3 pt-1" style="border-right-style: none;" onclick="window.location.href='/cart'">
                <i class="fa-solid fa-cart-shopping fs-6"><span class="badge rounded-pill bg-warning text-dark">{{cartCount}}</span></i>
            </div>
        </div>
        {{/if}}
    </div>
</nav>
<br><br>

<div {{#if user}}class="search-item-user"{{else}}class="search-item"{{/if}} id="searchResults">
</div>
{{/if}}
