
<link rel="stylesheet" href="/stylesheets/login.css">

<div>

    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<div class="login100-pic js-tilt" data-tilt>
					<img src="/images/img-01.png" alt="IMG">
				</div>
				
                {{#if success}}
			
				<form action="/reset-password" method="post" class="login100-form validate-form">	
					<span class="login100-form-title">
						Forgot Password?
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">

						<input class="input100" type="password" name="password" placeholder="Password" id="email" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">

                        <p class="text-center text-danger">{{resetErr}}</p>

                        <button class="container-login100-form-btn">
                                <input type="submit" value="RESET PASSWORD" class="login100-form-btn"
                                    id="floatingPassword" placeholder="Password">
                            </button>
						
					</div>

				</form>

                    {{else}}

                    {{#if OTP}}{{else}}


                <form action="/forgot-verify" method="post" class="login100-form validate-form">	

                    {{/if}}

					


                <form action="/verifyForgotOTP" method="post" class="login100-form validate-form">

					<span class="login100-form-title">
						Forgot Password?
					</span>	

					<div class="wrap-input100 validate-input" data-validate = "Password is required">

						<input class="input100" type="email" name="email" value="{{email}}" placeholder="Email" id="email" required autocomplete="off">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

                    {{#if OTP}}

                    <div class="wrap-input100 validate-input" data-validate = "OTP is required">

						<input class="input100" type="text" name="otp" placeholder="One Time Password" id="email" required autocomplete="off">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-key" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">


                        <button class="container-login100-form-btn">
                                <input type="submit" value="VERIFY" class="login100-form-btn"
                                    id="floatingPassword" placeholder="Password">
                            </button>
						
					</div>

					<div class="signin text-center pt-2">
                    <a href="/login" class="mb-2 text-center pe-3">Login with Password </a> <br>
                            
                    <span>Don't have an account? <a href="/signup">Sign up here</a></span>
                    <br>
                    <a href="/" class="mb-2 text-center">Home</a>

                	</div>

				</form>

                    {{else}}

                    <div class="wrap-input100 validate-input">


                        <button class="container-login100-form-btn">
                                <input type="submit" value="SEND OTP" class="login100-form-btn"
                                    id="floatingPassword" placeholder="Password">
                            </button>
						
					</div>

                    {{/if}}

                    {{!-- </form> --}}

                    <p class="text-danger text-center">{{err}}</p>


                    {{!-- <div class="signin text-center pt-2">
                    <a href="/login" class="mb-2 text-center pe-3">Login with Password </a> <br>
                            
                    <span>Don't have an account? <a href="/signup">Sign up here</a></span>
                    <br>
                    <a href="/" class="mb-2 text-center">Home</a>

                	</div> --}}

                        {{/if}}
				</form>
                
			</div>
		</div>
	</div>
</div>
