
<script>
    function edit() {
        document.getElementById('edt-btn').hidden = true
        document.getElementById('upt-btn').hidden = false
        document.getElementById("username").readOnly = false;
        document.getElementById("phone").readOnly = false;
        document.getElementById('username').style.border="1px solid #000"
        document.getElementById('phone').style.border="1px solid #000"

    }
</script>

<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="mt-4">

</div>



<div class="container">
    <div class="main-body mt-5 mt-md-0">


        <div class="row gutters-sm">

           

                        <div class="col-md-4 mb-3 mt-5">
                            <div class="card">
                                <div class="card-body shadow">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img {{#if (eq userData.gender 'Male' )}} src="/images/maleavatar.gif" {{else}}
                                            src="/images/femaleavatar.gif" {{/if}} alt="Admin" class="rounded-circle" width="150">
                                        <div class="mt-3">
                                            <h4>{{userData.username}}</h4>
                                            <p class="text-secondary mb-1">{{userData.email}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

            

             <div class="card-body shadow mt-4">
                            
                            <div class="card mt-3 p-2">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex  align-items-center flex-wrap">
                                        <i class="fa-solid fa-cart-shopping fs-3 pe-3 text-"></i><a href="/cart">Cart</a>
                                    </li>
                                    <li class="list-group-item d-flex  align-items-center flex-wrap">
                                        <i class="fa-solid fa-truck-fast pe-3 text- fs-3"></i><a href="/orders">My Orders</a>
                                    </li>
                                    <li class="list-group-item d-flex  align-items-center flex-wrap">
                                        <i class="fa-solid fa-key fs-3 text- pe-3"></i><a href="/Change-password">Change
                                            Password</a>
                                    </li>
                                    <li class="list-group-item d-flex  align-items-center flex-wrap">
                                        <i class="fa-regular fa-address-book pe-3 fs-3 text-"></i><a href="/address-manage">Address
                                            Management</a>
                                    </li>
                                    <li class="list-group-item d-flex  align-items-center flex-wrap">
                                        <i class="fa-solid fa-headset fs-3 text- pe-3"></i> <a href="/contact">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                </div>



            <div class="col-md-8">
                <form name="editProfile" onsubmit="return userEdit()" action="/update-user-data" method="post">
                    <div class="card mb-3">
                        <div class="card-body shadow mt-5 p-3">
                            <div class="mx-5">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" name="username" id="username" value="{{userData.username}}"
                                            readonly required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary ">
                                        <input class="mail" name="email" id="email" type="text" value="{{userData.email}}" disabled>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input id="phone" name="phone" type="text" value="{{userData.phone}}" readonly required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input class="mail" type="text" value="{{userData.gender}}" disabled>
                                    </div>
                                </div>
                                <hr>

                                <p class="text-danger text-center" id="phoneErr"></p>
                                <div class="row">

                                    <div class="text-center m-1">
                                        <a id="edt-btn" class="profile-edit-button text-white ps-4 pe-4 pt-2 pb-2"
                                            onclick="edit()">Edit Information</a>

                                        <input onclick="return userEdit()" class="profile-edit-button ps-4 pe-4 pt-2 pb-2"
                                            type="submit" id="upt-btn" value="Update information" hidden>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                            <div class="card h-90">
                                <div class="card-body shadow p-4">
                                    <h3><span><i class="fa-solid fa-wallet fs-3 ps-2"></i></span> Wallet </h3>
                                    <hr>
                                    <div class="wallet" >
                                        <img class="ps-3" src="/images/icons/logo-white.png" alt="" width="105px"> 
                                        <span
                                            class="text-white mt-2 fs-6">&nbsp Premium</span>
                                       
                                           <i class="fa-solid fa-wallet round"></i>
                                           <a href="/wallet" class="button">
                                            <i class="fa-solid fa-wallet round"></i>
                                            </a> 
                                            <h6 class="text-white card-num mb-0">E-Wallet</h6>
                                            <small class="ms-3 text-warning">Only accessible in Coza Store </small>
                                            
                                            <h3 class="text-white ms-3 mt-2 pt-4">Balance : ₹ {{userData.wallet}}</h3>
                                        

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="col-sm-6 ">
                            <div class="card h-90">
                                <div class="card-body shadow p-3">
                                    <h4>Address</h4>
                                    <hr>
                                    {{#if userData.address.[0]}}
                                    <h6>name: {{userData.username}}</h6>
                                    <h6>Housename: {{userData.address.[0].address}}</h6>
                                    <h6>Town: {{userData.address.[0].town}}</h6>
                                    <h6>State: {{userData.address.[0].state}}</h6>
                                    <h6>Phone: {{userData.address.[0].phone}}</h6>
                                    <h6>Pin Code: {{userData.address.[0].pincode}}</h6>
                                    {{else}}
                                    <div class="text-center">
                                        <small>No Address Added</small><br>
                                    <a  href="/add-address/{{userData._id}}" class=" text-primary text-center">Add Address</a>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>



            </div>
        </div>

    </div>
</div>


<style>
    input{
    border: none;
   
}
</style>